In [1]:
import warnings
warnings.filterwarnings('ignore')
import os
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import tensorflow as tf
from tensorflow import keras
from sklearn import preprocessing
import csv

In [35]:
with open('C:\\Users\\Fahad\\OneDrive\\study\\9th\\Python\\test3.csv','r') as f:
    weather_df = pd.read_csv(f,parse_dates=["DATE"])

In [36]:
weather_df.head()

       STATION         NAME   DATE  TAVG  TMAX  TMIN
0  BGM00041923  TEJGAON, BG  10115  23.1  29.5  17.5
1  BGM00041923  TEJGAON, BG  20115  23.9  29.2  20.0
2  BGM00041923  TEJGAON, BG  30115  24.7  29.9  20.8
3  BGM00041923  TEJGAON, BG  40115  23.2  26.1   NaN
4  BGM00041923  TEJGAON, BG  50115  20.3  23.7  18.0

In [37]:
weather_df.columns

Index(['STATION', 'NAME', 'DATE', 'TAVG', 'TMAX', 'TMIN'], dtype='object')

In [38]:
weather_df.shape

(1813, 6)

In [39]:
weather_df.isnull().any()

STATION    False
NAME       False
DATE       False
TAVG       False
TMAX        True
TMIN        True
dtype: bool

In [40]:
weather_y=weather_df.pop('TAVG')

In [41]:
weather_x=weather_df

In [42]:
weather_x.pop('NAME')
weather_x.pop('TMAX')
weather_x.pop('TMIN')
weather_x.pop('STATION')

0       BGM00041923
1       BGM00041923
2       BGM00041923
3       BGM00041923
4       BGM00041923
           ...
1808    BGM00041923
1809    BGM00041923
1810    BGM00041923
1811    BGM00041923
1812    BGM00041923
Name: STATION, Length: 1813, dtype: object

In [43]:
weather_x.head()

    DATE
0  10115
1  20115
2  30115
3  40115
4  50115

In [44]:
weather_x.dtypes

DATE    object
dtype: object

In [69]:
train_x,test_x,train_y,test_y=train_test_split(weather_x,weather_y,test_size=0.3,random_state=3)

In [70]:
train_x.head()

        DATE
448   180516
675   120317
1219  121118
1115  190718
1174  190918

In [71]:
model = LinearRegression()

In [72]:
model.fit(train_x,train_y)

LinearRegression()

In [73]:
prediction = model.predict(test_x)

In [74]:
pd.DataFrame({
    'actual':test_y,
    'prediction':prediction,
    'diff':(test_y - prediction)
})

      actual  prediction      diff
1206    28.7   26.905147  1.794853
1127    29.7   26.930633  2.769367
1011    24.2   26.930487 -2.730487
287     25.2   26.853991 -1.653991
1406    27.2   26.927086  0.272914
...      ...         ...       ...
678     22.9   26.871982 -3.971982
517     30.2   26.872164  3.327836
1574    27.1   26.919591  0.180409
243     29.1   26.916079  2.183921
1141    31.3   26.872165  4.427835

[544 rows x 3 columns]